body{
    margin: 0;
    padding: 0;
    background-color: #faf9f6;    
}
.logo{
    height: 100px;
    width: auto;
}
.header-content{
    display: flex;
    align-items: center;
    padding: 0;
}

.header-bar{
    padding:0;
    background-color: #007e94;
    align-items: center;
    height: 100px;
    display: flex;
    color: #faf9f6;
    gap: 10px;
}

.header-list{
    display: flex;
    flex-direction: column;
    background-color: #007e94;
    gap: 10px;    
}
a{
    color: black;
}
.hero{
    background-image: url(images/scott-webb-102825.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 0;
    display: flex;
}

.museum-name{
    font-size: 20px;
    font-weight: 600;
    color: #faf9f6;
}


.footer-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}
/*footer sticks to bottom*/
.footer{
    background-color: #007e94;
    padding: 0;
    text-align: center;
    height: 100px;
}

html{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > *:not(.footer-bar){
    flex: 1;
}

/*for mobile screens */

@media (max-width: 600px){
    .header-bar{
        padding: 0;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .header-content{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10;
    }
    .logo{
        height: 50px;
        width: auto;
    }
    .museum-name a {
        font-size: 15px;
    }

    .hero{
        height: 50vh;
    }
}